<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>header</title>
    <style>
      body {
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      }
      .header {
        background-color: #f9f6f9;
        padding: 30px 0 30px 0;
      }
      .wrapper {
        max-width: 1000px;
        margin: 0 auto;
      }
      .container {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
      }
      .items ul {
        display: flex;
        list-style: none;
        justify-content: space-between;
        width: 400px;
        margin-top: 10px;
      }
      .logo h1 {
        font-size: 20px;
        font-weight: 100;
        color: rgba(0, 0, 0, 0.404);
      }
      .items ul li a {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.541);
        font-size: 15px;
        text-transform: uppercase;
        padding: 10px 10px;
        border-radius: 50px;
      }
      .items ul li a:hover {
        color: rgb(60, 255, 0);
        transition: 0.7s;
        box-shadow: inset 10px 10px 10px rgba(122, 221, 34, 1);
      }
    </style>
  </head>
  <body>
    <div class="header">
      <div class="wrapper">
        <div class="container">
          <div class="logo"><h1>DAILY JOURNAL</h1></div>
          <div class="items">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/contact">Contact Us</a></li>
              <li><a href="/compose">Compose</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
