<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .hello {
        max-width: 1000px;
        margin: 0 auto;
      }
    </style>
  </head>
  <body>
    <%- include('header'); -%>
    <div class="hello">
      <h1><%= title %></h1>
      <p><%= content %></p>
    </div>
    <%- include('footer'); -%>
  </body>
</html>
